<form id="new-warrior">
    <label for="name">Nazwa</label>
    <input id="name" type="text">
    <br>

    <p id="points"></p>

    <div class="hp">
        <label>Hp: </label><span id="hp"></span>
        <button class="point-btn" name="add">⬆</button>
        <button class="point-btn" name="sub">⬇</button>
    </div>

    <div class="strength">
        <label>strength: </label><span id="strength"></span>
        <button class="point-btn" name="add">⬆</button>
        <button class="point-btn" name="sub">⬇</button>
    </div>

    <div class="intelligence">
        <label>intelligence: </label><span id="intelligence"></span>
        <button class="point-btn" name="add">⬆</button>
        <button class="point-btn" name="sub">⬇</button>
    </div>

    <div class="dexterity">
        <label>dexterity: </label><span id="dexterity"></span>
        <button class="point-btn" name="add">⬆</button>
        <button class="point-btn" name="sub">⬇</button>
    </div>

    <button>Add</button>
</form>
<script src="/js/form.js"></script>