<h2>Arena</h2>
<div class="arena-page">
    <div class="player">
        <p>Warrior1</p>
        <select name="Player1">
            {{#each WarriorsList}}
                <option value={{this.name}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="player">
        <p>Warrior2</p>
        <select name="Player2">
            {{#each WarriorsList}}
                <option value={{this.name}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
</div>
{{> back-home }}
